.idea/
.cadence/
extract_feature.sh
eval.sh
train.sh
run_reltr_all.sh
__pycache__/
*.pyc
.DS_Store
result/
cider/data/
test_image/
venv/
data/
*.pth
*.h5
*.npy
*.pkl
*.tsv
*.json
Thumbs.db
virtual_env/
*.log